@page "/"
@model IndexModel
@{
    ViewData["Title"] = "My library";
}

<div class="row">
    <div class="col-12">
        <h2>Books</h2>
        <a asp-page="/Books/Add" class="btn btn-success btn-lg m-2">Add new book</a>
        <a asp-controller="/Movies" asp-action="Add" class="btn btn-success btn-lg m-2">Add new movie</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="w-25">Author</th>
                    <th class="w-25">Status</th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayFor(model => model.Books)
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2>Movies</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="w-25">Producer</th>
                    <th class="w-25">Status</th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayFor(model => model.Movies)
            </tbody>
        </table>
    </div>
</div>