@page
@model BookLibrary.Web.Pages.Authors.DetailsModel
@{
    ViewData["Title"] = Model.AuthorName;
}

<div class="row">
    <div class="col-12">
        <h2>@Model.AuthorName</h2>

        <ul>
            @foreach (var book in Model.Books)
            {
                <li>
                    <a asp-page="/Books/Details" asp-route-id="@book.Id">
                        @book.Title
                    </a>
                    @if (book.IsInStock)
                    {
                        <span class="badge badge-success">At home</span>
                    }
                    else
                    {
                        <span class="badge badge-warning">Borrowed</span>
                    }
                </li>
            }
        </ul>
    </div>
</div>

